{% if page.comments != false %}
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ page.url | absolute_url }}";
      this.page.identifier = "{{ page.id }}";
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = "https://ppant.disqus.com/embed.js";
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>

  <noscript>
    Please enable JavaScript to view the comments powered by Disqus.
  </noscript>
{% endif %}
