<aside>
	<div class="container">
		<nav>
<ul>
    <li><a href="{{ "/" | relative_url }}">Home</a></li>
    <li><a href="{{ "/category/tech/" | relative_url }}">Tech</a></li>
    <li><a href="{{ "/category/fitness/" | relative_url }}">Fitness</a></li>
    <li><a href="{{ "/category/travel/" | relative_url }}">Travel</a></li>
    <li><a href="{{ "/category/misce/" | relative_url }}">Misce</a></li>
    <li><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
    <li><a href="{{ "/about/" | relative_url }}">About</a></li>
</ul>
		</nav>
	</div>
</aside>

<header>
	<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header>