---
layout: default
---
<article class="post">
  <div class="post-header">
    {% if page.categories %}
      <div class="post-cats">
        {% for cat in page.categories %}
          <a href="/category/{{ cat }}/" class="cat-badge">
            {{ site.category_titles[cat] | default: cat | capitalize }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <time>{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if site.author.name %} &nbsp;·&nbsp; {{ site.author.name }}{% endif %}
    </div>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
